<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form class="" action="/tijiao" method="get">
      <input type="text" name="nr" value="">
      <input type="submit" >
    </form>
    <% if(code==='8'){ %>
      <%=msg%>
    <% } %>
    </body>
</html>
